# ######################################################################
# HTACCESS FOR API.THEWALTERS.ORG                                      #
# ######################################################################

# ----------------------------------------------------------------------
## Limit Access to Dev Site
# ----------------------------------------------------------------------

### alternative robots.txt file staging server
# robots_noindex.txt says disallow everything
<IfModule mod_rewrite.c>
RewriteCond %{HTTP_HOST} ^apidev\.thewalters\.org$ [NC]
RewriteRule ^robots\.txt$ robots_noindex.txt [L]
</IfModule>

### Staging Server Password
SetEnvIf Host apidev.thewalters.org passreq
AuthType Basic
AuthName "Staging Server"
AuthUserFile /var/www/.htpassword
Require valid-user
Order allow,deny
Allow from all
Deny from env=passreq
Satisfy any

# ----------------------------------------------------------------------
## Additional Custom Directives
# ----------------------------------------------------------------------
# html5 boilerplate and nG Firewall directives
# are included in via apache *.conf file for this site
# e.g. /etc/apache2/sites-available/sitename.conf
