# ######################################################################
# HTACCESS FOR API.THEWALTERS.ORG                                      #
# ######################################################################



# ######################################################################
# SHARED DIRECTIVES
# ######################################################################
# html5 boilerplate and nG Firewall directives
# are included in via apache *.conf file for this site
# e.g. /etc/apache2/sites-available/sitename.conf
